{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Вход" %}
{% endblock head_title %}
{% block content %}
    {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Подключение {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}Вы собираетесь подключить новую учетную запись от {{ provider }}.{% endblocktrans %}
        {% endelement %}
    {% else %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Вход через {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}Вы собираетесь войти, используя учетную запись от {{ provider }}.{% endblocktrans %}
        {% endelement %}
    {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            {% element button type="submit" class="auth-button" %}
                {% trans "Продолжить" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}