{% extends "base.html" %}
{% block content %}
<h1 class="chat-header"><h2>Оставить отзыв для заказа {{ order.id }}</h2></h1><br>
    
<div class="chat-container-1">
   
    <form method="post">
        {% csrf_token %}
        {{ form.comment.label_tag }} {{ form.comment }}
        <div class="df">
            <button type="submit" class="btn">Отправить отзыв</button>
        <div class="star-rating">
            {% for i in "54321" %}
                <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}">
                <label for="star{{ i }}">&#9733;</label>
            {% endfor %}
        </div>
       
        
        </div>
    </form>
</div><br>

{% endblock %}